body {
	margin: 0;
	padding: 0;
}
nav {
 	width: 100%;
 	text-align: center;
 	position: fixed;
 	background-color: white;
}
.menu {
	display: flex;
	list-style-type: none;
	padding: 0;
	justify-content: center;
}
a {
	color: black;
	text-decoration: none;
}
.menuli {
	margin: 0 5% 0 0;
}
header {
	background-image: url(blue.jpeg);
	color: white;
	text-align: center;
	padding: 10% 0;
	width: 80%;
	margin: 0 auto;
}
.apple {
	display: block;
	background: white;
	width: 100px;
	margin: 0 auto;
	padding: 15px;
	border-radius: 15px;

}
.company {
	text-align: center;
}
.flex { 
	display: flex;
	align-items: center;
}
.flex p {
    width: 80%;
}
.flex img {
	width: 20%;
}
.maincontainer {
	padding: 0 10%;
}
h2 {
	text-align: center;
	text-shadow: 5px 5px gray;
}
.devis {
	text-align: center;
}
.teamflex {
	display: flex;
	
	justify-content: space-around;
}
.teamflex img {
	width: 100%;
}
.teamflex div {
	width: 20%;
	padding: 1%;
	margin: 1%;
	box-shadow: 0 0 10px gray;
}
.text {
	background-color: #074460;
	border-radius: 5px;
	color: white;
	display: block;
	width: 100%;
	padding: 3% 0;
	text-align: center;
}
.name {
	color: gray;
}
.tarif {
	background-color: gray;
	color: white;
}
.tarifflex {
	display: flex;
	color: black;
	justify-content: space-around;
	align-items: center;
}
.tariful {
	background-color: white;
	list-style-type: none;
	padding: 0;
	width: 30%;
	text-align: center;
}
.tariful li {
	border-bottom: gray 1px solid;
	padding: 5% 0;
}
#base,#premium {
	background-color: black;
	color: white;
}
#pro {
	background-color: lightblue;
	padding: 10% 0;
}
.buy {
	background-color: black;
	color: white;
	border-radius: 5px;
	padding: 9px;
}
.image1 {
	background-image: url(address.png);
	background-repeat: no-repeat;
	background-size: contain;
	padding-left: 30px;
}
.image2 {
	background-image: url(image.jpeg);
	background-repeat: no-repeat;
	background-size: contain;
	padding-left: 30px;
}
.image3 {
	background-image: url(mail.png);
	background-repeat: no-repeat;
	background-size: contain;
	padding-left: 30px;
}
input {
	width: 100%;
    padding: 2%;
    margin-bottom: 3%;
    border: none;
    outline: none;
}
.contact {
	padding: 5%;
	background-color: #EAF0F7;
}
button {
	margin: 0 auto;
	display: block;
	color: white;
	background-color: black;
	border-radius: 7px;
	padding: 1%;
}
footer {
	background-color: black;
	color: white;
}
.Kristina {
	background-color: lightpink;
	text-align: center;
}
.chanel {
	color: red;
}
.subscribe {
	margin: 0;
}

